<div id="left">
	<div class="boom">
		<h1 class="boom">
			Boom!!!
		</h1>
			<%= image_tag "boom_img.png" %>
		</div>
	</div>
</div>

<div class="wrap">
	<div id="right">
		<%= image_tag "background_img4.png" %>
	</div>
</div>