<div id="left">
	<div class="wrap">
		<h2>
			Ahoy hoy!
		</h2>

		<div id="login">
			<%= form_tag sessions_path do %>
			    <%= text_field_tag :email, params[:email], class: 'textfield user', placeholder: "Username" %> 
			    <%= password_field_tag :password , nil, class: 'textfield password' , placeholder: "Password" %> 
			  <!--p class="button"><%#= submit_tag "Log in" %></p-->
			<% end %>
		</div>
	</div>
</div>

<div class="wrap">
	<div id="right">
		<%= image_tag "background_img3.png" %>
	</div>
</div>

<script type="text/javascript">
$("input").keypress(function(event) {
    if (event.which == 13) {
        event.preventDefault();
        $("form").submit();
    }
});
</script>
