<div id="left">
	<div class="wrap">
		<h3>Enter your code</h3>
		<% flash.each do |name, msg| %>
  			<%= content_tag :div, msg, :id => "flash_#{name}" %>	
		<% end %>
		<div id="login">
			<%= form_tag create_session_sessions_path do %>
			    <%= text_field_tag :code, params[:code], class: 'textfield code' %> 
			<% end %>
		</div>

		</div>
	</div>
</div>

<div class="wrap">
	<div id="right">
		<%= image_tag "background_img3.png" %>
	</div>
</div>

<script type="text/javascript">
	$("input").keypress(function(event) {
    	if (event.which == 13) {
        	event.preventDefault();
        	$("form").submit();
    	}
	});
</script>